# Ignore node_modules directory
node_modules/

# Ignore config directory
config/

.env
config/config.env
config/*.env

# Add this line to your .gitignore
uploads/*
!uploads/.gitkeep

# Add this line
config/google-credentials.json

# API Keys and Credentials
*.pem
*.key

# Ignore test data but keep the folder
test/data/*
!test/data/.gitkeep
